<%= back_url_hidden_field_tag %>
<%= error_messages_for 'milestone' %>
<script>
  window.version_id = <%= @milestone.version.present? ? @milestone.version.id : 0 %>;
  <% if @milestone.start_date.present? %>
    window.old_start_val = '<%= @milestone.start_date.strftime('%Y-%m-%d') %>';
  <% else %>
    window.old_start_val = '';
  <% end %>
  <% if @milestone.planned_end_date.present? %>
      window.old_due_val = '<%= @milestone.planned_end_date.strftime('%Y-%m-%d') %>';
  <% else %>
      window.old_due_val = '';
  <% end %>
  window.old_sharing_mode = '<%= @milestone.sharing_model %>';

</script>
<div class="box tabular">
  <p><%= f.text_field :name, :size => 60, :required => true %></p>
  <p><%= f.text_field :description, :size => 60, :required => true %></p>
  <p><%= f.select :version_id, [['', 0]] + (@project.versions  + @project.shared_versions.open).uniq.reject{ |x| x.closed? }.collect{|x| [ "#{x.project.name}/#{x.name}", x.id]}, {}, {:onclick => "milestone_version_changed('#{@project.id}')"} %></p>
  <div id="aggregate_milestone_form_part">
    <p>
      <label>
        <%= t(:add_assigned_milestone) %>
      </label>
    </p>
    <% ansectors = @milestone.ansectors %>
    <%= select_tag "available_milestones", options_for_select((@project.all_milestones - @milestone.children).reject{|x| ansectors.include? x.id}.collect{|x| [milestone_name_from_pov_of(@project,x), x.id]}), :multiple => true, :style=>'margin-left: 180px; width: 200px' %>
    <div id="buttons" style="display: inline-block; width: 40px !important; min-width: 40px !important">
      <%= button_to_function ">>", 'move_selected_milestone_to_assigned(this.form)', :id=>'move_selected_milestone_to_assigned_button' %>
      <br/>
      <%= button_to_function "<<", 'move_assigned_milestone_to_selected(this.form)', :id=>'move_selected_milestone_to_assigned_button' %>
    </div>
    <%= select_tag "milestone[assigned_milestones]", options_for_select(@milestone.children.collect{|x| [milestone_name_from_pov_of(@project,x), x.id]}), :multiple => true, :style=>'width: 200px; display: inline-block' %>
  </div>
  <p><%= f.select :status, options_for_select(Milestone::MILESTONE_STATUSES.collect {|s| [l("version_status_#{s}"), s]}, @milestone.status) %></p>

  <div style="padding-left: 175px">
    <label for="milestone_fixed_start_date_true">
      <%= t(:milestone_start_date) %>
    </label><br>
    <%= f.radio_button :fixed_start_date, true, :style=> 'display: inline-block; position: relative; top: -15px', :checked=>@milestone.fixed_start_date, :onchange => 'start_date_radio_changed()' %>
    <div style="display: inline-block; top: -15px; position: relative" >
      <%= text_field_tag "milestone[start_date]", @milestone.start_date.nil? ? "" : @milestone.start_date.strftime('%Y-%m-%d'), :size => 10, :disabled => !@milestone.fixed_start_date %>
      <%= special_calendar_for('milestone_start_date', "start_date_changed(window.version_id, \"#{@milestone.id}\", window.old_start_val)") %>
      <% javascript_tag do %>
          confirm_start_date_change(window.version_id,'<%= @milestone.id %>',window.old_start_val);
      <% end %>
    </div>
    <br>
    <%= f.radio_button :fixed_start_date, false, :style=>'display: inline-block;', :onchange => 'start_date_radio_changed()', :checked => !@milestone.fixed_start_date %>
    <div style="display: inline-block; margin-left: 0px">
      <%= label_tag "milestone[start_date_offset]", t(:field_previous_start_date_milestone), :style=>'float: none !important; margin-left: 0px !important' %>
      <%= select "milestone", "previous_start_date_milestone_id", options_for_select([['',0]] + @project.all_milestones.reject{|x| x.id == @milestone.id}.collect{|x| [milestone_name_from_pov_of(@project, x), x.id]}, @milestone.previous_start_date_milestone_id), {}, {:disabled => @milestone.fixed_start_date} %>
      <%= label_tag "milestone[start_date_offset]", t(:field_start_date_offset), :style=>'float: none !important; margin-left: 0px !important' %>
      <%= text_field_tag "milestone[start_date_offset]", @milestone.start_date_offset, :disabled => @milestone.fixed_start_date %>
    </div>
  </div>

  <div style="padding-left: 175px">
    <label for="milestone_fixed_start_date_false">
      <%= t(:milestone_planned_end_date) %>
    </label><br>
    <%= f.radio_button :fixed_planned_end_date, true, :style=> 'display: inline-block; position: relative; top: -15px', :checked=>@milestone.fixed_planned_end_date, :onchange => 'planned_end_date_radio_changed()' %>
    <div style="display: inline-block; top: -15px; position: relative" >
      <%= text_field_tag "milestone[planned_end_date]", @milestone.planned_end_date.nil? ? "" : @milestone.planned_end_date.strftime('%Y-%m-%d'), :size => 10, :disabled => !@milestone.fixed_planned_end_date %>
      <% unless @milestone.depending_from_this_planned_end_date.empty? and @milestone.depending_from_this_start_date.empty? %>
          <%= special_calendar_for('milestone_planned_end_date', "planned_date_changed(window.version_id, \"#{@milestone.id}\", window.old_due_val)") %>
          <% javascript_tag do %>
              confirm_planned_end_date_change(window.version_id,'<%= @milestone.id %>', window.old_due_val);
          <% end %>
      <% else %>
          <%= special_calendar_for('milestone_planned_end_date', "return true;") %>
      <% end %>
      &nbsp; &nbsp; &nbsp;
      <%= link_to_function t(:set_planned_to_actual), "set_planned_to_actual(#{@milestone.id})" %>
    </div>
    <br>
    <%= f.radio_button :fixed_planned_end_date, false, :style=>'display: inline-block', :onchange => 'planned_end_date_radio_changed()', :checked => !@milestone.fixed_planned_end_date %>
    <div style="display: inline-block; margin-left: 0px">
      <%= label_tag "milestone[planned_end_date_offset]", t(:field_previous_planned_end_date_milestone), :style=>'float: none !important; margin-left: 0px !important' %>
      <%= select "milestone", "previous_planned_end_date_milestone_id", options_for_select([['',0]] + @project.all_milestones.reject{|x| x.id == @milestone.id}.collect{|x| [milestone_name_from_pov_of(@project, x), x.id]}, @milestone.previous_planned_end_date_milestone_id), {}, {:disabled => @milestone.fixed_planned_end_date} %>
      <%= label_tag "milestone[planned_end_date_offset]", t(:field_planned_end_date_offset), :style=>'float: none !important; margin-left: 0px !important' %>
      <%= text_field_tag "milestone[planned_end_date_offset]", @milestone.planned_end_date_offset, :disabled => @milestone.fixed_planned_end_date %>
    </div>
  </div>

  <p><%= f.select :sharing, @milestone.allowed_sharings.collect {|v| [format_version_sharing(v), v]}, {}, {:onchange => "milestone_sharing_changed('#{@project.id}', #{@milestone.parents.empty? ? "false" : "true, "+@milestone.id.to_s })"} %></p>
  <div id="assigned_projects_placeholder" style="width: 800px; display: inline-block; <%= "display: none" unless @milestone.sharing == "specific" %>">
    <%= select_tag :available_projects, options_for_select(Project.visible.unassigned_with(@milestone).collect{|x| [x.name, x.id]}), :multiple => true, :style=>'margin-left: 180px; width: 200px' %>
    <div id="buttons" style="display: inline-block; width: 40px !important; min-width: 40px !important">
      <%= button_to_function ">>", 'move_selected_to_assigned(this.form)', :id=>'move_selected_to_assigned_button' %>
      <br/>
      <%= button_to_function "<<", 'move_assigned_to_selected(this.form)', :id=>'move_selected_to_assigned_button' %>
    </div>
    <%= select_tag "milestone[assigned_projects]", options_for_select(@milestone.projects.collect{|x| [x.name, x.id]}), :multiple => true, :style=>'width: 200px; display: inline-block' %>
  </div>

  <p><%= f.select :user_id, [['',0]] + @project.users.all.collect {|u| [u.name, u.id]}, {:label => t(:Owner)} %></p>
  <p id="watchers_form"><label><%= l(:label_issue_watchers) %></label>
    <% @project.users.sort.each do |user| -%>
      <label class="floating"><%= check_box_tag 'milestone[observers][]', user.id, @milestone.watched_by?(user) %> <%=h user %></label>
    <% end -%>
  </p>


</div>
<% content_for :header_tags do %>
    <%= javascript_include_tag "milestones.js", :plugin => 'redmine_milestones' %>
    <script>
      window.root_path = "<%= home_path.gsub(/\/$/,'') %>";
    </script>
<% end %>
