<script type="text/javascript" src="/javascripts/prototype.js"></script>
<h2><%=l(:label_milestone_edit)%></h2>

<%= labelled_form_for @milestone, :html=>{:onsubmit=>"return select_assigned()"} do |f| %>
    <%= render :partial => 'milestones/form', :locals => { :f => f } %>
    <%= submit_tag l(:button_update) %>
<% end %>
