<% if @version.present? %>
    <% if @version.start_date.present? %>
        $('milestone_start_date').value = '<%= @version.start_date.strftime('%Y-%m-%d') %>';
        window.old_start_val = '<%= @version.start_date.strftime('%Y-%m-%d') %>';
    <% else %>
        $('milestone_start_date').value = '';
        window.old_start_val = '';
    <% end %>
    <% if @version.due_date.present? %>
        $('milestone_planned_end_date').value = '<%= @version.due_date.strftime('%Y-%m-%d') %>';
        window.old_due_val = '<%= @version.due_date.strftime('%Y-%m-%d') %>';
    <% else %>
        $('milestone_planned_end_date').value = '';
        window.old_due_val = '';
    <% end %>
    window.version_id = <%= @version.id %>;
<% else %>
    $('milestone_start_date').value = '';
    window.old_start_val = '';
    $('milestone_planned_end_date').value = '';
    window.old_due_val = '';
    window.version_id ='';
<% end %>



