<h2>
  <%= t(:report_for_milestone, :milestone => @milestone.name) %>
</h2>
<table width="100%" border="1">
  <tr>
    <th>
      <%= t(:label_name) %>
    </th>
    <th>
      <%= t(:label_owner) %>
    </th>
    <th>
      <%= t(:label_planned_start_date) %>
    </th>
    <th>
      <%= t(:label_actual_start_date) %>
    </th>
    <th>
      <%= t(:label_planned_due_date) %>
    </th>
    <th>
      <%= t(:label_actual_due_date) %>
    </th>
    <th>
      <%= t(:label_difference) %>
    </th>
  </tr>
  <% if @milestone.children.empty?
       @children = [@milestone]
     else
       @children = @milestone.children
     end
  %>

  <% @children.each do |milestone| %>
      <tr class="<%= milestone.cssclass %>">
        <td>
          <%= link_to milestone.name, milestone_path(milestone) %>
        </td>
        <td>
          <%= milestone.user.name if milestone.user.present? %>
        </td>
        <td>
          <%= milestone.start_date.strftime("%Y-%m-%d") if milestone.start_date.present? %>
        </td>
        <td>
          <%= milestone.actual_start_date.strftime("%Y-%m-%d") if milestone.actual_start_date.present? %>
        </td>
        <td>
          <%= milestone.planned_end_date.strftime("%Y-%m-%d") if milestone.planned_end_date.present? %>
        </td>
        <td>
          <%= milestone.actual_date.strftime("%Y-%m-%d") if milestone.actual_date.present? %>
        </td>
        <td>
          <% if milestone.actual_start_date.present? and milestone.start_date.present? and milestone.actual_start_date > milestone.start_date %>
              <%= t(:started) %>
              <%= distance_of_time_in_words(milestone.start_date, milestone.actual_start_date) %>
              <%= t(:later) %>
              <br/>
          <% end %>
          <%= distance_of_time_in_words(milestone.planned_end_date, milestone.actual_date) + ' ' + t(:delay) if milestone.planned_end_date.present? and milestone.actual_date.present? and milestone.actual_date > milestone.planned_end_date %>
        </td>
      </tr>
  <% end %>
</table>
<div id="chart">
  <% unless @data["percentage"].select{|x| x > 0}.length > 1 %>
      <p class="nodata">
        <%= t(:not_enough_data_for_piechart) %>
      </p>
  <% end %>
</div>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag "milestones", :plugin => 'redmine_milestones' %>
    <% if @data["percentage"].select{|x| x > 0}.length > 1 %>
        <%= javascript_include_tag "milestones", :plugin => 'redmine_milestones' %>
        <%= javascript_include_tag "raphael", :plugin => 'redmine_milestones' %>
        <%= javascript_include_tag "g.raphael.js", :plugin => 'redmine_milestones' %>
        <%= javascript_include_tag "g.pie.js", :plugin => 'redmine_milestones' %>
        <% javascript_tag do %>
	    $(document).ready(function(){
            draw_chart(<%= @data.to_json %>, '<%= t(:piechart_title) %>');
            });
        <% end %>
    <% end %>
<% end %>
