<% if @actual %>
    $('milestone_planned_end_date').value = '<%= @actual.strftime('%Y-%m-%d') %>';
    alert("<%= t(:planned_date_set_to_actual) %>")
<% else %>
    alert("<%= t(:actual_not_found) %>")
<% end %>