<% if @subproject.present? %>
    <% if @subproject.versions.empty? %>
        $('version_placeholder').hide();
    <% else %>
        $('version_placeholder').show();
        <% @project = @subproject %>
        $('#milestone_version').replaceWith("<%= escape_javascript(render :partial=>"version") %>")
    <% end %>
<% end %>
