<% if @project.module_enabled?(:milestones_module) %>
    <p id="milestone_placeholder">
        <% @milestones = @project.milestones.versionless %>
        <% @milestones += @project.all_milestones(true) %>
        <% if issue.fixed_version.present? and not issue.fixed_version.milestones.empty? %>
            <% @milestones += issue.fixed_version.milestones %>
        <% end %>
        <% @milestones = @milestones.uniq %>
	<% @milestones.delete_if { |ms| ms.completed? }  %>
        <% unless @milestones.empty? %>
            <%= form.select :milestone_id, [['',0]] + @milestones.collect{|x| x.version.present? ? ["#{x.version.name}/#{x.name}", x.id] : [x.name, x.id]} %>
        <% end %>
    </p>
<% end %>
<% content_for :header_tags do %>
    <%= javascript_include_tag "milestones.js", :plugin => 'redmine_milestones' %>
    <script type="text/javascript">
        window.root_path = "<%= home_path.gsub(/\/$/,'') %>";
	$(document).ready(function() {
		$("#issue_fixed_version_id").change(function () {
			issue_version_changed("<%= @project.id  %>");
		});
        });
    </script>
<% end %>
